*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'imported-Azo', 'Segoe UI', 'Minion', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #061621;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #12393D;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5C3B42;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h3{
  color: #9C3C41;
}
h4{
  color: #5C3B42;
}


